{% extends 'base.html.twig' %}

{% block title %}
    
    
{% endblock %}

{% block body %}
  
<div class="container">
<table class="table">
<h1>liste Professeur</h1>  
    
            <thead>
            
                <tr>
                    
                    <th>
                        Nom module
                    </th>
                     {# <th> 
                        Grade
                    </th>
                    <th>
                        Ses classes
                    </th>
                    <th>
                        Supprimer
                    </th>
                    <th>
                        Modifier
                    </th> #}
                </tr>
            </thead>
            <tbody>
                
                {%  for  module in mod %}
               
                <tr> 
  
                        <td scope="row">
                        {{ module.libellemodule }}
                        </td>
                        <td>
                            {{ module.id }}
                           
                        </td>
                        <td>
                        {# <a href="{{path('classe_lc',{"id":professeur.id})}}">Ses Classes</a> #}

                    

                        </td>
                        <td>
                        <a name="" id="" class="btn btn-danger" href="" >Modifier</a>

                    

                        </td>
                        <td>
                            {# <a name="" id="" class="btn btn-danger" href=" {{path ('prof_delete',{"id":professeur.id}) }} " role="button">supprimer</a> #}


                    

                        </td>
                       
                        
                        
                      
                    </tr>
            
              
                {% endfor %}

            </tbody>

        </table>





    </div>
  
{% endblock %}
